<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">룰루랄라 반가워</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">처음으로뿅</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">난누구냐궁</a>
                    </li>

                    <li>
                        <a class="page-scroll" href="#contact">아연락처좀</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header style="background-image: url('https://pbs.twimg.com/profile_images/759298760925024256/YFXy9rZ5.jpg')">
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">나의 홈페이지에 오신걸 환영합니다.</h1>
                <hr>
                <p>여기는 Unilion 두 번째 과제를 위한 페이지로써, <br>조금은 늦게 숙제를 제출하기는 했지만 멋쟁이 사자에 대한 진솔한 마음은<br> 누구보다도 늦지 않는 본질에 충실한 페이지 입니다.<br>그치만 흥깨서 미안해요</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">변명계속해봐</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">사실 난 널 오래 사랑해왔어</h2>
                    <hr class="light">
                    <p class="text-faded">사랑해 사랑한다 사랑할까 그래 사랑해요 사랑하지만 사랑해서 비록 사랑했어도 사랑할 수 있지 사랑하면서 동시에 사랑하고 또 사랑하며 사랑사랑스러워서 사랑하자</p>
                    <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">나도사랑해</a>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">나는 말이야</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
                        <h3>보석같이 아름다운 마음</h3>
                        <p class="text-muted">사람은 역시 마음이 최고지. 마음 다음 얼굴이야 얼굴짱짱</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
                        <h3>비행기 졸라 잘접어</h3>
                        <p class="text-muted">아 그리고 나 비행기도 타봤어! 비행기 졸잼. 비행기 졸라 빨라. 그리고 기내식 짱</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
                        <h3>종이도 잘접어</h3>
                        <p class="text-muted">신문지 잘접음. 반으로 뚝딱. 근데 신문 잘 안읽어 멍멍</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
                        <h3>심장 졸라 튼튼함</h3>
                        <p class="text-muted">아이콘때문에 괜히 설렜다면 미안하지만, 이건 내 심폐지구력을 나타내는 아이콘이다 임마</p>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">매력있냐?!</h2>
                    <hr class="primary">
                    <p>관심있으면 번호저장하샘. 사람조아함. 좀 예쁘지만 못생김. 그치만 난 널 사랑한단다</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x sr-contact"></i>
                    <p>010-6263-687*</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:your-email@your-domain.com">어흥어흥@likelion.org</a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/creative.min.js"></script>

</body>
