<div style="padding: 10px;">
    <%= link_to content_tag(:span, "", class: "pull-right glyphicon glyphicon-edit"), controller: "post", action: "edit", id: post.id, remote: true%>
    <%= link_to content_tag(:span, "", class: "pull-right glyphicon glyphicon-trash"), post, method: :delete, data: { confirm: 'Are you sure?' }%>
</div>

    <br>
    <%=post.content%>
    <br><br>